/*styling that relates to the naivation toolbar that i use*/

* {
 margin: 0;
    padding: 0;
    font-family: Book Antiqua, "Comic Sans MS", sans-serif;
}
nav ul{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav ul li{
    float: left;
}

nav ul li a{
    display: inline-block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: #6699ff;
    padding: 14px 16px;
}

nav ul li a:hover:not(.active){
    background-color: #6699ff;
}
.active{
    background-color:  #6699ff;
    padding: 14px 16px;
}




/*keep the backround of the screen constant through out */
body{
    background-color: #66b3ff;
}

.box{
    position:fixed;
    left:40%;
    bottom:30%;
    width:10%;
}
